.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #f6f6f6;
  padding-top: 20px;
}

@media (max-width: 860px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 15px;
  }
}

.menuList {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  row-gap: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-area: linksList;
  -webkit-column-gap: 24px;
          column-gap: 24px;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menuList a {
  text-decoration: none;
  cursor: pointer;
}

.menuList a:hover {
  color: #0ead09;
}
