@import '../../scss/variables';

.root {
  //   :global {
  //     .previous {
  //       background-color: red;
  //     }
  //   }
  li {
    display: inline-flex;
    justify-content: center;

    a {
      color: $orange;
      padding: 10px;
      border: 1px solid $orange;
      border-radius: 30px;
      width: 45px;
      height: 45px;
      display: inline-flex;
      justify-content: center;
      line-height: 20px;
      margin-right: 10px;
      cursor: pointer;
      transition: all 0.15s ease-in-out;
      &:hover {
        background-color: $orange;
        color: white;
      }
    }
  }
  :global {
    .selected {
      a {
        background-color: $orange;
        color: white;
      }
    }
  }
}
